<% include partials/header  %>
<% include partials/leftNav.ejs%>

<h2>Oops! Look's like you went to a page that does not exist. Head <a href="/">back home</a> and try again.</h2>

<img width="60%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1kdy-7Y6qT4diWSYMY1Xyqw1RHSsBLQikqQj9CsgP7TIZjy51KQ">

<% include partials/footer  %>
