
<% include partials/header.ejs%>
	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
	
	<h1 class="page-header">Admin Output <a id="dateHeader">(for end of day xxx)</a></h1>
	<!-- 	insert date variables  -->
		
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Ticker Name</th>
          <th>Shares Owned</th>
          <th>Closing Price</th>
          <th>Cumulative Payout</th>
          <th>Total Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>PONCX</td>
          <td>40,000</td>
          <td>$13.34</td>
          <td>$4,344.31</td>
          <td>$4,344.31</td>
        </tr>
        <tr>
          <td>12</td>
          <td>BOND</td>
          <td>23,000</td>
          <td>$4.31</td>
          <td>$4,344.31</td>
          <td>$4,344.31</td>
        </tr>
      </tbody>
    </table>
  </div>



	<%  }%>
<% include partials/footer.ejs%>

