<% include partials/header.ejs%>
	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
	
	<h1 class="page-header">User Summary <a id="dateHeader">(for end of day xxx)</a></h1>
	<!-- 	insert date variables  -->
		
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>Current Balance</th>
          <th>Cumulative Earnings</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>jackW</td>
          <td>$40,000</td>
          <td>$103.34</td>
          <td><button type="button" class="btn btn-default btn-sm">Expand</button></td>
        </tr>
        <tr>
          <td>12</td>
          <td>WarrenB</td>
          <td>$23,000</td>
          <td>$304.31</td>
          <td><button type="button" class="btn btn-default btn-sm">Expand</button></td>
        </tr>
      </tbody>
    </table>
  </div>

	<%  }%>
<% include partials/footer.ejs%>

