<% include partials/header.ejs%>
	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
	
	<h1 class="page-header">Admin Input</h1>
		
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Base Rate</th>
          <th>PONCX</th>
          <th>BOND</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8/4/2014</td>
          <td>4.00%</td>
          <td>0.123</td>
          <td>0.123</td>
          <td><button type="button" class="btn btn-primary btn-sm">Save</button></td>
        </tr>
      </tbody>
    </table>
  </div>	

	<%  }%>
<% include partials/footer.ejs%>

