<% include partials/header.ejs%>

  <ul class="nav nav-sidebar">
    <li><a href="/summary">Account Summary</a></li>
    <li class="active"><a href="/buysell">Buy/Sell</a></li>
    <li><a href="/ledger">Ledger History</a></li>
  </ul>

</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	
 <%  if (!isAuthenticated){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
			
  <h1 class="page-header">Buy/Sell</h1>

<div class="jumbotron" style="font-size: 18px;">

  <div class="row">
    <form class="form-horizontal" action="/lookup" method="post">
      
      <div class="col-md-4">
        <img src="http://cdn.flaticon.com/png/256/34148.png" width="50%">
      </div>  

      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="ticker">For Ticker Symbol</label>
          <div class="controls">
            <div class="input-append">
              <input id="ticker" name="ticker" class="input-xlarge" placeholder="Enter Ticker" type="text" value="<%= ticker %>">
              <div class="btn-group">
                <br>
                <input type="submit" value="Lookup" class="btn btn-primary btn-lg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="ticker">@ Current Price Per Share of</label>
          <div class="controls">
            <div class="input-append">
              <br><br>
              <span id="price">$<%= price %></span>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

<br><br>
  <h1 class="page-header"></h1>


<form class="form-horizontal" action="/buysell" method="post">
  <div class="row">

      <div class="col-md-4">
        <img src="http://cdn.flaticon.com/png/256/48387.png" width="50%">
      </div>  

      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="radios">I Want to</label>
          <div class="controls">
            <label class="radio inline" for="radios-0">
              <input name="radios" id="radios-0" value="Buy" checked="checked" type="radio">
              Buy
            </label>
            <label class="radio inline" for="radios-1">
              <input name="radios" id="radios-1" value="Sell" type="radio">
              Sell
            </label>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="quantity">For a Quantity of</label>
          <div class="controls">
            <div class="input-append">
              <input id="quantity" name="quantity" class="input-xlarge" placeholder="Enter Quantity" type="text">
              <span class="add-on">Shares</span>
            </div>
          </div>
        </div>
      </div>
  </div> 

<input name="ticker2" type="hidden" value="<%= ticker %>">
<input name="price2" type="hidden" value="<%= price %>">



<br><br>

 <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <label class="control-label" for="button1id"></label>
      <div class="controls">
        <input type="submit" id="button1id" value="Confirm" class="btn btn-success btn-lg">
        <span class="add-on"><a href="/summary">Cancel</a></span>
      </div>
    </div>
 </div> 

</form>
</div>

 	<%  }%>

<% include partials/footer.ejs%>

