<% include partials/userHeader.ejs%>
	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
			
<!-- include partials/counters.ejs -->

  <h1 class="page-header">Account Ledger <a id="dateHeader">(for user xxxx)</a></h1>

  <div>
    <ul>
      <li>Cumulative Earnings: $<%= data.dataValues.cumEarning %></li>
      <li>Current Balance: $<%= data.dataValues.curBalance %></li>
    </ul>
  </div>

  <button onclick="window.location.href='/add'" class="btn btn-primary btn-lg">Add Value</button>
  <button onclick="window.location.href='/subtract'" class="btn btn-danger btn-lg">Withdraw Value</button>
 
	<%  }%>

<% include partials/footer.ejs%>

