<% include partials/userHeader.ejs%>
	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
			
<!-- include partials/counters.ejs -->

  <div class="row placeholders">
       <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="#" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <div class="row placeholders">
       <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="#" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg">Add Value</button>
  <button type="button" class="btn btn-danger btn-lg">Withdraw Value</button>

	<%  }%>
<% include partials/footer.ejs%>

